In [1]:
from datetime import datetime

In [2]:
now1=datetime.now()
print(now1)

2021-10-04 15:41:38.747292

In [3]:
now2=datetime.today()
print(now2)

2021-10-04 15:43:02.522020

In [4]:
t1=datetime.now()
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2021-10-04 15:45:23.934126
1970-01-01 00:00:00
1970-12-12 13:24:34

In [6]:
diff1=t1-t2

print(diff1)
print(type(diff1))

18904 days, 15:45:23.934126
<class 'datetime.timedelta'>

In [7]:
diff2=t2-t1

print(diff2)
print(type(diff2))

-18905 days, 8:14:36.065874
<class 'datetime.timedelta'>

In [13]:
import pandas as pd

In [14]:
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

In [16]:
tesla=pdr.get_data_quandl('TSLA',api_key='EzJCpLJAYsbdx_Jf9DFy')

In [17]:
tesla.to_csv('tesla_stock_quandl.csv')

In [18]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [22]:
tesla=pd.read_csv('tesla_stock_quandl.csv',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        370 non-null    datetime64[ns]
 1   Open        370 non-null    float64
 2   High        370 non-null    float64
 3   Low         370 non-null    float64
 4   Close       370 non-null    float64
 5   Volume      370 non-null    float64
 6   ExDividend  370 non-null    float64
 7   SplitRatio  370 non-null    float64
 8   AdjOpen     370 non-null    float64
 9   AdjHigh     370 non-null    float64
 10  AdjLow      370 non-null    float64
 11  AdjClose    370 non-null    float64
 12  AdjVolume   370 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 37.7 KB
None

In [28]:
print(tesla.loc[(tesla.Date.dt.year==2016) & (tesla.Date.dt.month==10)])

          Date    Open      High     Low   Close      Volume  ExDividend  \
351 2016-10-31  202.49  202.4900  195.81  197.73   4692273.0         0.0
352 2016-10-28  204.00  205.3200  199.83  199.97   4280141.0         0.0
353 2016-10-27  211.34  213.7000  201.65  204.01  13093744.0         0.0
354 2016-10-26  201.00  203.1900  200.10  202.24   5632841.0         0.0
355 2016-10-25  202.90  204.6900  201.20  202.34   2445014.0         0.0
356 2016-10-24  201.00  203.9452  200.25  202.76   2751562.0         0.0
357 2016-10-21  198.60  201.5700  197.41  200.09   2943402.0         0.0
358 2016-10-20  202.12  203.0000  197.05  199.10   5072877.0         0.0
359 2016-10-19  199.74  206.6600  198.06  203.56   6991183.0         0.0
360 2016-10-18  195.99  199.4700  193.26  199.10   5680475.0         0.0
361 2016-10-17  197.05  198.3900  192.00  193.96   4554080.0         0.0
362 2016-10-14  200.66  201.4300  196.30  196.51   4269850.0         0.0
363 2016-10-13  200.50  200.8950  197.05  200.24   2495413.0         0.0
364 2016-10-12  200.95  203.8800  200.42  201.51   1970689.0         0.0
365 2016-10-11  201.85  202.2000  198.31  200.10   2328422.0         0.0
366 2016-10-10  201.35  204.1400  199.66  200.95   3316297.0         0.0
367 2016-10-07  201.00  201.3200  195.80  196.61   3493018.0         0.0
368 2016-10-06  202.46  204.2099  200.21  201.00   4703402.0         0.0
369 2016-10-05  212.24  213.1500  208.12  208.46   1877534.0         0.0

     SplitRatio  AdjOpen   AdjHigh  AdjLow  AdjClose   AdjVolume
351         1.0   202.49  202.4900  195.81    197.73   4692273.0
352         1.0   204.00  205.3200  199.83    199.97   4280141.0
353         1.0   211.34  213.7000  201.65    204.01  13093744.0
354         1.0   201.00  203.1900  200.10    202.24   5632841.0
355         1.0   202.90  204.6900  201.20    202.34   2445014.0
356         1.0   201.00  203.9452  200.25    202.76   2751562.0
357         1.0   198.60  201.5700  197.41    200.09   2943402.0
358         1.0   202.12  203.0000  197.05    199.10   5072877.0
359         1.0   199.74  206.6600  198.06    203.56   6991183.0
360         1.0   195.99  199.4700  193.26    199.10   5680475.0
361         1.0   197.05  198.3900  192.00    193.96   4554080.0
362         1.0   200.66  201.4300  196.30    196.51   4269850.0
363         1.0   200.50  200.8950  197.05    200.24   2495413.0
364         1.0   200.95  203.8800  200.42    201.51   1970689.0
365         1.0   201.85  202.2000  198.31    200.10   2328422.0
366         1.0   201.35  204.1400  199.66    200.95   3316297.0
367         1.0   201.00  201.3200  195.80    196.61   3493018.0
368         1.0   202.46  204.2099  200.21    201.00   4703402.0
369         1.0   212.24  213.1500  208.12    208.46   1877534.0

In [29]:
tesla.index= tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2016-10-18', '2016-10-17', '2016-10-14', '2016-10-13',
               '2016-10-12', '2016-10-11', '2016-10-10', '2016-10-07',
               '2016-10-06', '2016-10-05'],
              dtype='datetime64[ns]', name='Date', length=370, freq=None)

In [31]:
print(tesla['2017'].iloc[:5,:5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20

<ipython-input-31-5bb2f589d986>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2017'].iloc[:5,:5])

In [32]:
print(tesla['2017-06'].iloc[:,:5])

                 Date     Open      High       Low   Close
Date
2017-06-30 2017-06-30  363.710  366.7674  359.6187  361.61
2017-06-29 2017-06-29  370.610  371.0000  354.1000  360.75
2017-06-28 2017-06-28  366.680  371.7400  362.5200  371.24
2017-06-27 2017-06-27  376.400  376.4000  362.0200  362.37
2017-06-26 2017-06-26  386.690  386.9500  373.1000  377.49
2017-06-23 2017-06-23  382.450  386.9900  379.3450  383.45
2017-06-22 2017-06-22  377.990  385.0000  373.5700  382.61
2017-06-21 2017-06-21  374.350  376.9900  368.0200  376.40
2017-06-20 2017-06-20  376.670  378.8800  369.7300  372.24
2017-06-19 2017-06-19  375.000  376.7000  367.8000  369.80
2017-06-16 2017-06-16  377.975  378.0100  370.1000  371.40
2017-06-15 2017-06-15  372.500  375.4600  366.4900  375.34
2017-06-14 2017-06-14  381.085  384.2500  376.3100  380.66
2017-06-13 2017-06-13  367.620  376.0000  366.6100  375.95
2017-06-12 2017-06-12  357.990  364.5000  350.6200  359.01
2017-06-09 2017-06-09  374.420  376.8700  354.8000  357.32
2017-06-08 2017-06-08  363.750  371.9000  360.2200  370.00
2017-06-07 2017-06-07  356.340  360.5000  355.1400  359.65
2017-06-06 2017-06-06  344.700  359.4929  339.9700  352.85
2017-06-05 2017-06-05  338.500  348.4400  334.2100  347.32
2017-06-02 2017-06-02  339.770  342.8800  335.9300  339.85
2017-06-01 2017-06-01  344.000  344.8800  337.2900  340.37

<ipython-input-32-e774c7cedfe2>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2017-06'].iloc[:,:5])

In [34]:
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 538 days
2018-03-26 537 days
2018-03-23 534 days
2018-03-22 533 days
2018-03-21 532 days

In [36]:
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
538 days 2018-03-27  304.00  304.27  277.18  279.18
537 days 2018-03-26  307.34  307.59  291.36  304.18
534 days 2018-03-23  311.25  311.61  300.45  301.54
533 days 2018-03-22  313.89  318.82  308.18  309.10
532 days 2018-03-21  310.25  322.44  310.19  316.53

In [37]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
5 days   2016-10-10  201.35  204.1400  199.66  200.95
2 days   2016-10-07  201.00  201.3200  195.80  196.61
1 days   2016-10-06  202.46  204.2099  200.21  201.00
0 days   2016-10-05  212.24  213.1500  208.12  208.46

In [38]:
ebola= pd.read_csv('country_timeseries.csv',parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [39]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [40]:
head_range=pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [41]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0