<a href="https://colab.research.google.com/github/jee365/ESAA/blob/main/%ED%9A%8C%EA%B7%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 단순 선형 회귀 분석**
전복의 나이를 예측하는 선형회귀모델을 생성하세요.
전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 입력하면 ‘껍질의 고리수’를 예측한 뒤 예측된 ‘껍질의 고리수’에 1.5를 더하면 전복의 나이가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

**1) 데이터 load 및 변형**

In [4]:
# 데이터 로드
data = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

In [5]:
data.head()

   Length  Diameter  Height  Whole weight  ...  Rings      M      F      I
0   0.455     0.365   0.095        0.5140  ...     15   True  False  False
1   0.350     0.265   0.090        0.2255  ...      7   True  False  False
2   0.530     0.420   0.135        0.6770  ...      9  False   True  False
3   0.440     0.365   0.125        0.5160  ...     10   True  False  False
4   0.330     0.255   0.080        0.2050  ...      7  False  False   True

[5 rows x 11 columns]

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [6]:
# X,y 데이터 선택
y = data['Rings']
X = data.drop('Rings',axis=1)

In [9]:
X=X.astype('float64')
X

      Length  Diameter  Height  Whole weight  ...  Shell weight    M    F    I
0      0.455     0.365   0.095        0.5140  ...        0.1500  1.0  0.0  0.0
1      0.350     0.265   0.090        0.2255  ...        0.0700  1.0  0.0  0.0
2      0.530     0.420   0.135        0.6770  ...        0.2100  0.0  1.0  0.0
3      0.440     0.365   0.125        0.5160  ...        0.1550  1.0  0.0  0.0
4      0.330     0.255   0.080        0.2050  ...        0.0550  0.0  0.0  1.0
...      ...       ...     ...           ...  ...           ...  ...  ...  ...
4172   0.565     0.450   0.165        0.8870  ...        0.2490  0.0  1.0  0.0
4173   0.590     0.440   0.135        0.9660  ...        0.2605  1.0  0.0  0.0
4174   0.600     0.475   0.205        1.1760  ...        0.3080  1.0  0.0  0.0
4175   0.625     0.485   0.150        1.0945  ...        0.2960  0.0  1.0  0.0
4176   0.710     0.555   0.195        1.9485  ...        0.4950  1.0  0.0  0.0

[4177 rows x 10 columns]

 **3) train/test set 분리**

In [12]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [22]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [23]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [25]:
#선형회귀모델 생성 및 훈련
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
# 모델 예측치 구하기
y_preds = lr.predict(X_test)

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [27]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error

- MSE, RMSE

In [30]:
#mse, rmse
mse = mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)
print(mse,rmse)

5.003337951368122 2.2368142415873793

- R2 score

In [33]:
#R2 score 측정
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_preds)
print(r2_score)

0.5254355326267393

- 회귀 절편값

In [34]:
#회귀 절편 값
print(lr.intercept_)

-114443486202698.11

- 회귀 계수 값

In [36]:
#회귀 계수 값
print(np.round(lr.coef_,1))

[-1.00000000e-01  1.14000000e+01  7.50000000e+00  9.70000000e+00
 -2.06000000e+01 -1.18000000e+01  8.80000000e+00  1.14443486e+14
  1.14443486e+14  1.14443486e+14]

- 상관계수

Hint: corr 함수 이용.

In [37]:
# 상관계수 구하기
corr = data.corr(method='pearson')
corr

                  Length  Diameter    Height  ...         M         F         I
Length          1.000000  0.986812  0.827554  ...  0.236543  0.309666 -0.551465
Diameter        0.986812  1.000000  0.833684  ...  0.240376  0.318626 -0.564315
Height          0.827554  0.833684  1.000000  ...  0.215459  0.298421 -0.518552
Whole weight    0.925261  0.925452  0.819221  ...  0.252038  0.299741 -0.557592
Shucked weight  0.897914  0.893162  0.774972  ...  0.251793  0.263991 -0.521842
Viscera weight  0.903018  0.899724  0.798319  ...  0.242194  0.308444 -0.556081
Shell weight    0.897706  0.905330  0.817338  ...  0.235391  0.306319 -0.546953
Rings           0.556720  0.574660  0.557467  ...  0.181831  0.250279 -0.436063
M               0.236543  0.240376  0.215459  ...  1.000000 -0.512528 -0.522541
F               0.309666  0.318626  0.298421  ... -0.512528  1.000000 -0.464298
I              -0.551465 -0.564315 -0.518552  ... -0.522541 -0.464298  1.000000

[11 rows x 11 columns]

In [38]:
coeff = pd.Series(np.round(lr.coef_,1),X_test.columns)
coeff.sort_values(ascending=False)

F                 1.144435e+14
M                 1.144435e+14
I                 1.144435e+14
Diameter          1.140000e+01
Whole weight      9.700000e+00
Shell weight      8.800000e+00
Height            7.500000e+00
Length           -1.000000e-01
Viscera weight   -1.180000e+01
Shucked weight   -2.060000e+01
dtype: float64